*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    background: orange;
    color: white;
    padding: 22px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
ul{
    display: flex;
}
ul li{
    list-style: none;

}
ul li a{
    text-decoration: none;
    margin-inline: 20px;
    color: #4a3e3e;
    font-size: 20px;
    font-weight: 600;
    transition: all .3s;
    padding: 7px 10px;
    border-radius: 5px;
}
ul li a:hover{
    color: #fff;
    background-color: #000;
    cursor: pointer;   
}
.icons{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.icons i{
    font-size: 25px;
    color: #000;
}
.logo{
    font-size: 20px;
    color: #000;
}
#bar{
    display: none;
}
.main{
    background: url(img/bg.jpg)no-repeat center top/cover;
    width: 100%;
    height: 100vh;
}
.maintext{
    position: relative;
    text-align: center;
    top: 25%;
    color: #2e2626c7;
    font-size: 28px;
}
#more{display: none;}
#more.active3{
    display: block;
    font-size: 18px;
    width: 50%;
    margin: auto;
    padding-top: 30px;
}
.maintext button{
    width: 140px;
    height: 40px;
    border: 2px solid orange;
    background: transparent;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    color: #2e2626;
}
.maintext button:hover{
    background: orange;
}
.booking{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.booking img{
    width: 550px;
    border-radius: 5px;
}
.form{
    margin-inline: 28px;
    width: 320px;
    background: #fff;
    padding: 22px;
    box-shadow: 0 4px 4px 6px #1d1b1b42;
    border-radius: 4px;
}
.form input{
    width: 90%;
    padding: 8px;
    font-size: 17px;
    margin-top: 3px;
}
.head{
    text-align: center;
    padding: 85px;
}
.head span{
    color: #a26900;
}
.form p{
    margin-top: 20px;
}

.packages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.packages .card{
    width: 350px;
    height: 360px;
    border-radius: 5px;
    margin-inline: 20px;
    box-shadow: 0 4px 4px 6px #1d1b1b42;

}
.card img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
}
.card h3,.card p{
    margin: 11px 0 0 11px;
}

.places{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
.placecard{
    width: 400px;
    height: 360px;
    margin-inline: 20px;
    box-shadow: 0 4px 4px 6px #1d1b1b42;
    border-radius: 5px;
    margin-top: 20px;

}
.placecard img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
}
.placecard h3,.placecard p{
    margin-top: 11px;
    margin-left: 11px;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact img{
    width: 550px;
}
.contactform{
    width: 300px;
    height: 230px;
    background: #fff;
    box-shadow: 0 4px 4px 6px #1d1b1b42;
    margin-top: 22px;
    padding: 22px;
    
}
.contactform input{
    width: 90%;
    padding: 6px;
    font-size: 16px;
    margin-top: 3px;
}
.contactform p{
    margin-top: 13px;
}
.contactform button ,.form button{
    width: 80px;
    height: 28px;
    background: #523b10;
    color: #fff;
    font-size: 16px;
    margin-top: 22px;
    border: none;
}


.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #000;
    color: #fff;
    padding: 66px;
    margin-top: 55px;
}
.text p{
    margin-top: 11px;
}

.loginpage{
    display: none;
}
.active1{
    display: block;
    width: 300px;
    background: #fff;
    padding: 11px;
    box-shadow: 0 4px 4px 6px #1d1b1b42;
    position: fixed;
    top: 12%;
    right: 2%;
}
.icons i.active{color: #fff;}
.active1 input{
    width: 90%;
    padding: 6px;
    margin-top: 13px;
}
.active1 button{
    width: 80px;
    height: 28px;
    background: orange;
    color: #fff;
    font-size: 16px;
    border: none;
    margin-top: 15px;
}



@media screen and (max-width:1220px) {
    /* .booking img{width: 450px;} */
    .packages .card{margin-inline: 10px;width: 300px;}
    .places{justify-content: left;padding-left: 70px;}
    #more.active3{font-size: 22px;width: 80%;}
}
@media screen and (max-width:980px) {
    ul{
        display: none;
    }
    #bar{display: block;}
    nav{position: relative;}
    ul.active2{display: block;position: absolute;top: 75px;right: 0px;background: orange;left: 0;text-align: right;padding:0 0px 20px 0}
    ul li{margin: 5px;}
    .icons{gap: 25px;}
    .icons i{margin-inline: 15px;}
    .form{width: 100%;margin-inline: 40px;margin-top: 30px;}
    .booking img{width: 90%;}
    .placecard{width: 340px;}
    .packages .card{width: 230px;margin-inline: 10px;}
    .contact img{width: 350px;}
    .footer{padding: 20px;}
    nav{width: auto;justify-content: space-between;}
    .places{padding-left: 0;}
}
@media screen and (max-width:767px) {
    .maintext{font-size: 20px;}
    .packages .card{width: 90%;height: auto;margin-top: 25px;}
    .card img{height: auto;}
    .card p{margin: 15px;}
    .placecard{width: 280px;}
    .contactform{width: 250px;}
    .contact img{width: 320px;}
    .text{width: 33%;text-align: center;margin-top: 20px;}
    .text:first-child{width: 100%;}
    .active1{top: 24%;}
    .main{padding: 0 0 100px 0;}
    #more.active3{font-size: 17px;}
}
@media screen and (max-width:480px) {
    .maintext{font-size: 12px;}
    .head h1{font-size: 30px;}
    .head{padding: 40px 20px;}
    .form{margin-inline: 25px;}
    .placecard{width: 90%;}
    .active1{top: 15%;}
    /* .text{width: 90%;text-align: center;} */
}